<h1>Создать задачу</h1>

<%= form_with(model: @task, local: true) do |form| %>
  <div>
    <%= form.label :title, 'Название' %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, 'Описание' %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :status, 'Статус' %>
    <%= form.select :status, ['Новая', 'В процессе', 'Завершена'] %>
  </div>

  <div>
    <%= form.label :project_id, 'Проект' %>
    <%= form.collection_select :project_id, Project.all, :id, :title %>
  </div>

  <div>
    <%= form.label :assignee_id, 'Исполнитель' %>
    <%= form.collection_select :assignee_id, User.all, :id, :name, include_blank: true %>
  </div>

  <div>
    <%= form.submit 'Создать' %>
  </div>
<% end %>

<%= link_to 'Назад', tasks_path %>
