<%= form_with model: user, local: true, class: "needs-validation" do |form| %>
  <!-- Вывод ошибок над формой -->
  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= user.new_record? ? 'Невозможно добавить пользователя:' : 'Невозможно обновить пользователя:' %></h4>
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Поле для имени -->
  <div class="mb-4">
    <%= form.label :name, "Имя", class: "form-label fw-bold" %>
    <%= form.text_field :name, class: "form-control #{'is-invalid' if user.errors[:name].any?}" %>
    <% if user.errors[:name].any? %>
      <div class="invalid-feedback">
        <%= user.errors[:name].join(", ") %>
      </div>
    <% end %>
  </div>

  <!-- Поле для электронной почты -->
  <div class="mb-4">
    <%= form.label :email, "Электронная почта", class: "form-label fw-bold" %>
    <%= form.email_field :email, class: "form-control #{'is-invalid' if user.errors[:email].any?}" %>
    <% if user.errors[:email].any? %>
      <div class="invalid-feedback">
        <%= user.errors[:email].join(", ") %>
      </div>
    <% end %>
  </div>

  <!-- Кнопки -->
  <div class="mt-4">
    <%= form.submit user.new_record? ? "Добавить" : "Изменить", class: "btn btn-primary btn-lg me-3" %>
    <%= link_to "Назад", users_path, class: "btn btn-secondary btn-lg" %>
  </div>
<% end %>
