<%= form_with model: object, local: true, class: "needs-validation" do |form| %>
  <% object.attributes.except("id", "created_at", "updated_at").each do |attr, value| %>
    <div class="mb-3">
      <%= form.label attr, Project.column_names_rus[attr], class: "form-label" %>
      <%= form.text_field attr, value: value, class: "form-control", required: true %>
    </div>
  <% end %>

  <div class="mt-3">
    <%= form.submit "Сохранить", class: "btn btn-primary btn-lg me-3" %>
    <%= link_to "Назад", url_for(object), class: "btn btn-secondary btn-lg" %>
  </div>
<% end %>
