<h1>Создать проект</h1>

<%= form_with(model: @project, local: true) do |form| %>
  <div>
    <%= form.label :title, 'Название' %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, 'Описание' %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit 'Создать' %>
  </div>
<% end %>

<%= link_to 'Назад', projects_path %>
